# Copyright (c) 2024
# SPDX-License-Identifier: MIT

if BOARD_MS88SF3_NRF52840

config BOARD
	default "ms88sf3_nrf52840"

config ZMK_KEYBOARD_NAME
	default "Macropad"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config BT_CTLR
	default BT

endif # BOARD_MS88SF3_NRF52840