# STM32H723ZG-Based Keyboard configuration

# Copyright (c) 2026 Lawrence Langat <lawrencelangatmi@gmail.com>
# SPDX-License-Identifier: Apache-2.0

if BOARD_KEYBOARD_H723ZG

config ZMK_KEYBOARD_NAME
	default "Julien Keyboard"

config ZMK_KSCAN_MATRIX_POLLING
    default y

config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
    default 100

config ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS
    default 100

# config BT_CTLR
#     default BT 

endif # BOARD_KEYBOARD_H723ZG