# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_KEYBOARD_H723ZG=y 

# Enable GPIO
CONFIG_GPIO=y

# Use pinctrl
# CONFIG_PINCTRL=y

# Enable ZMK outputs
CONFIG_ZMK_USB=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable UART
CONFIG_SERIAL=y

CONFIG_LOG=y
# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_PICOLIBC=n
CONFIG_MINIMAL_LIBC=y

