# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_KEYBOARD_H723ZG=y 

# Enable GPIO
CONFIG_GPIO=y

# Use pinctrl
# CONFIG_PINCTRL=y

# Enable ZMK outputs
CONFIG_ZMK_USB=y

# HW stack protection disabled - ARCH_HAS_STACK_PROTECTION not available on this SoC
CONFIG_HW_STACK_PROTECTION=n

# MPU disabled - CPU_HAS_MPU not available on this SoC
CONFIG_ARM_MPU=n

# Enable UART
CONFIG_SERIAL=y

CONFIG_LOG=y
# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_PICOLIBC=n
CONFIG_MINIMAL_LIBC=y

