/*
 * Copyright (c) 2026 Lawrence Langat <lawrencelangatmi@gmail.com>
 * SPDX-License-Identifier: Apache-2.0
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_fr.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC         &kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &kp F6          &kp F7          &kp F8          &kp F9          &kp F10         &kp F11         &kp F12                         &kp PSCRN       &kp SLCK        &kp PAUSE_BREAK
                &kp FR_SUPER2   &kp FR_AMPS     &kp FR_E_ACUTE  &kp FR_DQT      &kp FR_SQT      &kp FR_LPAR     &kp FR_MINUS    &kp FR_E_GRAVE  &kp FR_UNDER    &kp FR_C_CEDILLA &kp FR_A_GRAVE &kp FR_RPAR     &kp FR_EQUAL    &kp BSPC        &kp INS         &kp HOME        &kp PG_UP
                &kp TAB         &kp FR_A        &kp FR_Z        &kp FR_E        &kp FR_R        &kp FR_T        &kp FR_Y        &kp FR_U        &kp FR_I        &kp FR_O        &kp FR_P        &kp FR_CARET    &kp FR_DLLR     &kp  RET        &kp DEL         &kp END         &kp PG_DN
                &kp CAPS        &kp FR_Q        &kp FR_S        &kp FR_D        &kp FR_F        &kp FR_G        &kp FR_H        &kp FR_J        &kp FR_K        &kp FR_L        &kp FR_M        &kp FR_U_GRAVE  &kp FR_ASTRK
                &kp LSHFT       &kp FR_LT       &kp FR_W        &kp FR_X        &kp FR_C        &kp FR_V        &kp FR_B        &kp FR_N        &kp FR_COMMA    &kp FR_SEMI     &kp FR_COLON    &kp FR_EXCL     &kp RSHFT                                       &kp UP
                &kp LCTRL       &kp LGUI        &kp LALT                                                        &kp SPACE                                                       &kp RALT        &mo 1           &kp K_APP       &kp RCTRL       &kp LEFT        &kp DOWN        &kp RIGHT
                &rgb_ug RGB_EFF &rgb_ug RGB_BRI &kp K_LOCK      &kp K_PP        &kp K_PREV        &kp K_NEXT        &kp K_MUTE 
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_layer {
            bindings = <
                &trans    &kp C_BRI_DN  &kp C_BRI_UP  &trans    &trans    &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp C_STOP  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &trans              &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans                        &trans
                &trans    &trans    &trans                                    &trans                                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &rgb_ug RGB_EFR    &rgb_ug RGB_BRD    &trans    &trans    &trans    &trans    &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
